<div class="desktop1-hero">
    <div class="desktop1-container3">
      <h1 class="desktop1-text">Selecione a opção desejada</h1>
      <span class="desktop1-text01">
        <span></span>
        <span></span>
      </span>
      <div class="btn-group-btn-group btn-group-root-class-name">
        <nav>
          <a routerLink="/extract-pdf">
          <button class="btn-group-button button">
            <span>Extrator de PDF</span>
          </button></a>
          <a routerLink="/extract-zip">
          <button class="btn-group-button1 button">
            <span>Extrator de ZIP</span>
          </button>
          </a>
        </nav>
        
      </div>
    </div>
    <div class="desktop1-container4">
      <img
        alt="image"
        src="../assets/playground_assets/foto_salina-400w.jpg"
        class="desktop1-image2"
      />
    </div>

  
  </div>